/* used in both rockpaperbutton and rockpaperjs */

.content {
  background-color: Navy;
  width: 60%;
  margin:  0 auto;
}

.content-butt {
  background-color: mediumturquoise;
  padding: 20px 30px;
  width: 60%;
  margin:  0 auto;
}


.content h1{
  color: gainsboro;
  text-align:  center;
}

.content p {
  color: white;
  text-align:  center;
}

ol li {
  color: white;
  text-align: left;
}

.button-flex {
  width: 50%;
  margin:  20px auto 10px;
  display: flex;
  justify-content: space-around;
}

button.start  div{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin:  0 auto;
}

table {
  background-color: white;
  color: black;
  margin:  30px auto;
}

table td, table th {
  padding:  20px;
}

table th{
  background-color: gainsboro;
  color: Black;
}

p#playerResults, p#compResults {
  color: Black;
}

h3 {
  color:  White;
  text-align: center;
  padding: 20px 0 30px;
  margin: 0 auto;
}
