#choice {
  width: 5em;
  height:  3em;
}

#content {
  background-color:Lavender;
  width: 50em;

  border-radius:20px;
  /* border: 5px solid Gainsboro; */

  padding:5px 15px;
  margin: 10px auto;
}

div.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40em;
  margin:  0 auto;
}

button {
  margin: .3em;
}

div p#choice {
  background-color: White;
  font-size:  1em;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  width:  10em;
  margin: 2em auto;
}

.wtype, .stype, .noEffect {
  text-align: center;
  margin: 1em auto;
  padding: .3em 0;

  border-width: 3px;
  border-style:  solid;
  border-radius: 2px;
}

th{
  background-color: White;
  width: 12em;
  padding: 1em 0;

  border-radius: 5px;
}


li.btn-poke {
  display:  inline-block;
  list-style-type: none;
}

table {
  height: 2em;
  margin: 1em auto;
}

/* pokemon type styles */
.norm {
  background-color: gainsboro;
  border-color: Black;
}

.fire {
  background-color: OrangeRed;
  color: MistyRose;
  border-color: Red;
}

.water {
  background-color: LightSkyBlue;
  color: Azure;
  border-color: PowderBlue;
}

.grass {
  background-color: ForestGreen;
  color: HoneyDew;
  border-color: DarkGreen;
}

.elec {
  background-color: Gold;
  color: Beige;
  border-color: Chatreuse;
}

.ice {
  background-color: AliceBlue;
  color: Navy;
  border-color: DeepSkyBlue;
}

.fight {
  background-color: DarkRed;
  color: White;
  border-color: Crimson;
}

.pois {
  background-color: Indigo;
  color: Lavender;
  border-color: BlueViolet;
}

.grnd {
  background-color: DarkKhaki;
  color: SaddleBrown;
  border-color: Cornsilk;
}

.fly {
  background-color: PaleTurquoise;
  color: RoyalBlue;
  border-color: LightBlue;
}

.psych {
  background-color: Fuchsia;
  color: GhostWhite;
  border-color: Brown;
}

.bug {
  background-color: Olive;
  color: Ivory;
  border-color: WhiteSmoke;
}

.rock {
  background-color: Sienna;
  color: OldLace;
  border-color: Wheat;
}

.ghost {
  background-color: MediumPurple;
  color: Lavender;
  border-color: Thistle;
}

.drag {
  background-color: SteelBlue;
  color: LightCyan;
  border-color: LightSKyBlue;
}

.drk {
  background-color: DimGray;
  color: White;
  border-color: DarkSlateGray;
}

.steel {
  background-color: Silver;
  color: Black;
  border-color: Black;
}

.fairy {
  background-color: HotPink;
  color: LaenderBlush;
  border-color: LightPink;
}