body {
  background-color: gainsboro;
}

h1, h2, h3 {
  background-color:white;
}

div.flex-stuff {
  padding: 20px auto;
  border: 4px solid Gray;
  
  display:flex;
  align-items: center;
  justify-content: center;
}

div.flex-item {
  
}
